.main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.mainSection {
    display: flex;
    width: 100%;
    // max-width: 1120px;
    align-items: center;
    justify-content: center;
}